#main {
  font-size: 20px;
  margin: 50px;
  text-align: center;
}

#fields {
  margin: 50px 0px;
}

input {
  font-size: 30px;
}

button {
  font-size: 16px;
  margin: 0px 10px 0px 0px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
button[disabled]{
  cursor: auto;
}